.page{
    background-color: $page-bg;
    .root{
        width: inherit;
        min-height: 100%;
        .content{
            max-width: 1920px;
            height: inherit;
            margin: $margin-center;
            padding: 0 32px;
        }
        .wrapper{
            display: grid;
            grid-template-columns: $fr;
            grid-template-rows: minmax($header-size,auto) $main-size minmax($footer-size,auto);
            height: $full-height;
            margin: $margin-center;
            .burger-menu{
                position: absolute; z-index: 999;
                width: 100%; height: 100%;
                background-color: $general;
                .content{
                    .burger_row{
                        display: flex; flex-direction: column; gap: 12px;
                        height: inherit;
                        .close{
                            position: absolute;
                            right: 8px; top: 8px;
                            width: 16px; height: 16px;
                        }
                        .logo{text-align: center;}
                        .menu{
                            &>*{display: block; background-color: #0E0E0E; padding: 4px 6px; font-size: 1em; box-shadow: 0 -3px black 0.5;}
                        }
                    }
                }
            }
            .header{
                background-color: $general;
                .content{
                    height: 100%;
                    &_row{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: inherit;
                        .header-nav{
                            flex-grow: 1;
                            display: flex;
                            justify-content: flex-end;
                            gap: 24px;
                            &>*{@extend %header-link;}
                        }
                        .burger{
                            grid-template-columns: repeat(3,1fr); gap: calc(12px - 1vw);
                            &>*{background-color: $clear; width: calc(6px + 1vw); height: calc(6px + 1vw); border-radius: 4px;}
                        }
                    }
                }
            }
            .main{height: $full-height;}
            .footer{
                position: relative;
                background-color: $footer-bg;
                .anchor{
                    position: absolute;
                    width: 100%; top: 0; left: 0; padding: 12px 0;
                    color: $secondary; background-color: $general; text-align: center;
                }
                .content{
                    height: 100%;
                    &_row{
                        display: flex;
                        align-items: center;
                        height: inherit;
                        .footer-nav{
                            display: flex;
                            justify-content: space-between; gap: 16px;
                            width: 100%;
                            .footer-block{
                                .footer_title{margin-bottom: 6px;}
                                .footer-ul{
                                    display: flex;
                                    flex-direction: column;
                                    align-items: flex-start;
                                    gap: 8px;
                                    .footer_link{text-align: left;}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.logo{
    font-size: 32px;
    .span{color: $secondary;}
}

.main{animation: PageHomeLoad 2.5s;}
.main-discount{background-color: #000000;}