@media all and (min-width:100vw){
    .page{.root{.wrapper{.header{.content_row{.burger{display: none;}}}}}}
}
@media all and (max-width:1440px){
    .page{.root{.content{padding: 0 calc(24px - 1vw);}}}
    .logo{font-size: calc(8px + 1.8vw);}
    .header_link{font-size: 1.8vw;}
    .section-top-selers{
        .content_row{
            .card-grid{
                grid-template-columns: repeat(3,minmax(128px,calc(256px + 6vw)));
                .carding{
                    &__image{
                        height: calc(86px + 6vw);
                    }
                    &__content{
                        .carding_title{font-size: 1.4vw;}
                    }
                }
            }
        }
    }
    .section-new-assortments{
        .assortment{
            .card-assortment{
                min-height: 2vw;
                &__image{
                    flex: 1 1 35%;
                }
                &__info{
                    flex: 1 1 65%;
                    .descriptions{font-size: 1.4vw;}
                }
            }
        }
    }
    .section-new-assortment{
        .section__content{
            .top{
                .left__content{flex: 1 1 35%; height: calc(200px + 2vw);}
                .right__content{flex: 1 1 65%; font-size: calc(.3em + 1vw);}
            }
        }
    }
    .section-product-category{
        .products{
            gap: calc(6px + 0.5vw);
            .card-product{ 
                height: calc(164px + 4vw);
                .card_product{font-size: 1.2vw;}
            }
        }
    }
    .section-season-discount{
        .content{
            .season-discount__product{
                .product__content{
                    .product__right-content{
                        .description{font-size: 1.2vw; line-height:2.5vw}
                    }
                }
            }
        }
    }
    .section-header-product{
        .content_row{
            .slider__images{
                height: calc(512px - 6vw + 2vh);
            }
        }
    }
    .section-specification{
        .content_row{
            .specifications{
                .specification-general,.specification-aditional{&__item{font-size: 1.5vw;}}
            }
        }
    }
    .section-catalog{
        .content_row{
            .catalog{
                &>*:nth-last-child(1){display: none;}
                .card-product{
                    width: calc(86px + 12vw);
                    &__content{
                        .product_title{font-size: 1.5vw; text-align: center;}
                        .product__info{
                            &>*>*{font-size: calc(.2em + 1vw);}
                        }
                    }
                }
            }
        }
    }
    .page{.root{.wrapper{.footer{.content_row{
                        padding-top: 42px;
                        .footer-nav{display: grid; grid-template-columns: repeat(2,1fr);}
    }}}}}
}

@media all and (max-width:768px){
    .page{.root{.content{padding: 0 calc(12px - 1vw);}}}
    .page{.root{.wrapper{.header{.content_row{.header-nav{display: none;}}}}}}
    .page{.root{.wrapper{.header{.content_row{justify-content: space-between; padding: 0 6px; .burger{display: grid;}}}}}}
    .page{.root{.wrapper{grid-template-rows: 64px 1fr 42px; .footer{height: 42px; .content_row{.footer-nav{display: none;}}}}}} 
    .section-top-selers{
        .content_row{
            .card-grid{
                grid-template-columns: unset;
                grid-template-areas: 
                "A A A B B B"
                "C C C C C C";
                .carding:nth-child(1){grid-area: A;}
                .carding:nth-child(2){grid-area: B;}
                .carding:nth-child(3){grid-area: C;}
                .carding{
                    border-radius: 0;
                    &__image{
                        height: calc(86px + 6vw);
                    }
                    &__content{
                        .carding_title{font-size: 1.6vw;}
                    }
                }
            }
        }
    }
    .stars{.star{font-size: 3vw;}}
    .section-new-assortments{
        .assortment{
            .card-assortment{
                display: block;
                &>*{flex: none;}
                &__image{
                    height: calc(256px + 2vw);
                }
                &__info{
                    .title_assortment{width: 100%; text-align: center; font-size: 1em;}
                    .descriptions{font-size: .8em; text-align: justify;}
                    .link{width: 100%; font-size: 1em;}
                }
            }
        }
    }
    .section-new-assortment{
        .section__content{
            .top{
                flex-direction: column;
                .left__content{flex: none; height: calc(224px + 12vw);}
                .right__content{flex: none; text-align: center; font-size: .7em;}
            }
            .down{font-size: .7em; text-align: center;}
        }
        &:nth-child(even){.left__content{order: unset;}}
        .link-button{width: 100%;}
    }
    .section-product-category{
        .products{
            .card-product{ 
                height: calc(124px + 4vw);
                .card_product{font-size: 1.5vw;}
            }
        }
        .link{width: 100%; font-size: 1em;}
    }
    .section-season-discount{
        .content{
            .season-discount__product{
                .product__content{
                    flex-direction: column;
                    &>*{flex: unset;}
                    .product__left-content{flex-direction: column; .preview{height: calc(256px + 12vw);} .images{order: 2; flex-direction: row; justify-content: space-between; width: 100%; gap: 6px; .img{flex: 1 1 25%; height: calc(42px + 6vw);}}}
                    .product__right-content{display: flex; flex-direction: column; min-height: 256px; .product_title{font-size: calc(12px + 1vw);} .description{flex-grow: 1; font-size: 2vw; line-height: 4vw;}}
                }
                .link{width: 100%; min-width: 266px;}
            }
        }
    }
    .section-header-product{
        .content_row{
            .slider__images{
                height: calc(256px - 6vw + 2vh);
            }
            .slider__btns{
                .left-slide{width: calc(64px - 2vw);}
                .right-slide{width: calc(128px - 2vw);}
            }
        }
    }
    .section-specification{
        .content_row{
            .specifications{
                flex-direction: column; gap: 6px;
                .specification-general,.specification-aditional{border-radius: 0; &__item{font-size: 3vw;}}
            }
            .buttons{
                gap: 6px;
                &>*{flex: 1 1 50%;}
                .link-button{min-width: 186px;}
            }
        }
    }
    .section-comments{
        .content_row{
            .comments{
                .comment{
                    border-radius: 0;
                    &__profile{.profile{width: calc(42px + 3vw); height: calc(42px + 3vw);}}
                    &__text{font-size: 3vw;}
                }
            }
            .form-comment{border-radius: 0;}
        }
    }
    .section-catalog{
        .content_row{
            .catalog{
                display: grid; grid-template-columns: repeat(2,1fr); gap: 12px;
                .card-product{
                    border-radius: unset;
                    width: unset;
                    &__content{
                        .product_title{font-size: calc(.8em + 1vw);}
                        .product__info{
                            &>*>*{font-size: 1em;}
                            &-item{
                                flex-direction: column;
                                .type,.name{width: 100%;text-align: left;}
                                .type{opacity: 0.64;}
                            }
                        }
                    }
                }
            }
            .link-button{width: 100%;}
        }
    }
    .link-button{border-radius: 0; text-align: center; min-width: 266px;}
}

@media all and (max-width:480px){
    .link-button{border-radius: 0;}
    .page{.root{.content{padding: 0}}}
    .section-top-selers{
        .content_row{
            .card-grid{
                grid-template-areas: 
                "A A A A A A"
                "B B B B B B"
                "C C C C C C";
                .carding{
                    &__image{
                    }
                    &__content{
                        .carding_title{font-size: 3.5vw;}
                    }
                }
            }
        }
    }
    .stars{.star{font-size: 1em;}}
    .section-new-assortment{
        .section__content{
            .top{
                .right__content{font-size: 3.5vw;}
            }
            .down{font-size: 3.5vw;}
        }
    }
    .section-season-discount{
        .content{
            .season-discount__product{
                .product__content{
                    .product__left-content{
                        .preview{height: calc(128px + 12vw);}
                        .images{flex-wrap: wrap; &>*{flex: 1 1 45%;}}
                    }
                    .product__right-content{.description{font-size: 4vw; line-height: 6vw; text-align: justify;}}
                    .solid{display: none;}
                }
            }
        }
    }
    .section-product-category{
        .products{
            grid-template-areas: 
            "A A A A B B"
            "C C C C C C"
            "D D E E E E"
            "F F F F F F"
            "G G G H H H"
            "I I I I J J";
            gap: calc(6px + 0.5vw);
            .card-product{ 
                height: calc(124px + 4vw);
                .card_product{font-size: 3vw;}
            }
        }
    }
    .section-specification{
        .content_row{
            .specifications{
                .specification-general,.specification-aditional{&__item{font-size: calc(1.2em - 1vw);}}
            }
            .buttons{flex-direction: column; gap: 6px;}
        }
    }
    .section-comments{
        .content_row{
            .comments{
                .comment{
                    &__text{font-size: calc(1em - 1vw);}
                }
            }
        }
    }
    .section-catalog{
        .content_row{
            .catalog{
                grid-template-columns: 1fr;
            }
        }
    }
}

@media all and (max-width:366px){
    .section-new-assortments{
        .assortment{
            .card-assortment{
                &__info{
                    padding: 6px;
                }
            }
        }
    }
    .section-product-category{
        .products{
            grid-template-areas: 
            "A A A A A A"
            "B B B B B B"
            "C C C C C C"
            "D D D D D D"
            "E E E E E E"
            "F F F F F F"
            "G G G G G G"
            "H H H H H H"
            "I I I I I I"
            "J J J J J J ";
            gap: calc(6px + 0.5vw);
            .card-product{ 
                height: calc(124px + 4vw);
                .card_product{font-size: 3vw;}
            }
        }
    }
}