*{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
}

html,body{
    height: 100%; 
    font-size: 18px; 
    overflow-x: hidden;
    color: #FFFFFF;
}

img,svg{
    display: block; 
    object-fit: cover; 
    width: 100%; 
    height: 100%;
}

button,input,textarea{
    border: none;
    outline: none;
    font-family: inherit; 
    background-color: rgba(0,0,0,0);
    cursor: pointer;
}
.textarea{resize: none;}

:focus,:active{outline: none;}

a{
    display: block; 
    color: $clear;
}

h1,h2,h3,h4,h5,h6{font-family: inherit; font-size: inherit;}


.hiden{display: none;}